{% extends "layout.html" %}

{% block title %}
    Add Budget
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <h1>Add Budget</h1>
                <h3>Add a budget for a given year</h3>
            </div>
        </div>
    </div>

    <div class="row margin40">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="council">Council Number:</label>
                    <input type="number" min="0" step="1" class="form-control max400" id="council" name="council">
                </div>
                <div class="form-group">
                    <label for="amount">Budget Amount:</label>
                    <input type="number" min="0" step=".01" class="form-control max400" id="amount" name="amount">
                </div>
                <div class="form-group">
                    <label for="budget">Budget PDF:</label>
                    <input type="file" id="budget" name="budget">
                </div>
                <button type="submit" class="btn btn-default margin15">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}
