{% extends "layout.html" %}

{% block title %}
    Grant {{ grant.grant_id }} | Receipts
{% endblock %}

{% block head %}
    <style>
        img.rotatable {
            text-decoration: underline;
            color: blue;
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <h1>{{ grant.project }}</h1>
                <h3><i>{{ grant.organization }}</i></h3>
                <br />
                {% if receipts %}
                    <h3><b>Receipts Submitted</b></h3>
                    {% for receipt in receipts %}
                        <img src="{{ receipt }}" class="fullwidth rotatable" alt="Couldn't display image" data-url="{{ receipt }}">
                    {% endfor %}
                {% else %}
                    <h3><b>-- No Receipts Submitted --</b></h3>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        // Allow rotation of images on click
        $(".rotatable").rotate({bind:{
          click: function(e){
              if (e.shiftKey || e.ctrlKey || e.metaKey) {
                $(this).rotate({
                  angle: parseInt($(this).getRotateAngle()) + 90
                  });
              } else {
                  var url = $(this).data("url");
                  if (url) {
                      window.open(url,'_blank');
                  }
              }
            }
          }
        });

    </script>

{% endblock %}
