{% extends "layout.html" %}

{% block title %}
    Grant {{ grant.grant_id }} Allocations
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <h1>Grant {{ grant.grant_id }} Allocations</h1>
                <h4>
                    These amounts were voted upon by the council after
                    {% if grant.is_small_grant -%}
                        your application was reviewed.
                    {%- else -%}
                        the interview on {{ grant.interview_date | date }}.
                    {% endif %}
                </h4>
            </div>
            <table class="table table-striped table-responsive table-hover margin40">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Description of Funding</th>
                        <th>Grant Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% if grant.food_allocated %}
                    <tr>
                        <td>Food</td>
                        <td>{{ grant.food_allocated_notes | suppress_none }}</td>
                        <td>{{ grant.food_allocated | usd}}</td>
                    </tr>
                    {% endif %}
                    {% if grant.travel_allocated %}
                    <tr>
                        <td>Travel</td>
                        <td>{{ grant.travel_allocated_notes | suppress_none }}</td>
                        <td>{{ grant.travel_allocated | usd }}</td>
                    </tr>
                    {% endif %}
                    {% if grant.publicity_allocated %}
                    <tr>
                        <td>Publicity</td>
                        <td>{{ grant.publicity_allocated_notes | suppress_none }}</td>
                        <td>{{ grant.publicity_allocated | usd }}</td>
                    </tr>
                    {% endif %}
                    {% if grant.materials_allocated %}
                    <tr>
                        <td>Materials</td>
                        <td>{{ grant.materials_allocated_notes | suppress_none }}</td>
                        <td>{{ grant.materials_allocated | usd }}</td>
                    </tr>
                    {% endif %}
                    {% if grant.venue_allocated %}
                    <tr>
                        <td>Venue</td>
                        <td>{{ grant.venue_allocated_notes | suppress_none }}</td>
                        <td>{{ grant.venue_allocated | usd }}</td>
                    </tr>
                    {% endif %}
                    {% if grant.decorations_allocated %}
                    <tr>
                        <td>Decorations</td>
                        <td>{{ grant.decorations_allocated_notes | suppress_none }}</td>
                        <td>{{ grant.decorations_allocated | usd }}</td>
                    </tr>
                    {% endif %}
                    {% if grant.media_allocated %}
                    <tr>
                        <td>Media</td>
                        <td>{{ grant.media_allocated_notes | suppress_none }}</td>
                        <td>{{ grant.media_allocated | usd }}</td>
                    </tr>
                    {% endif %}
                    {% if grant.admissions_allocated %}
                    <tr>
                        <td>Admission Fees</td>
                        <td>{{ grant.admissions_allocated_notes | suppress_none }}</td>
                        <td>{{ grant.admissions_allocated | usd }}</td>
                    </tr>
                    {% endif %}
                    {% if grant.hupd_allocated %}
                    <tr>
                        <td>HUPD</td>
                        <td>{{ grant.hupd_allocated_notes | suppress_none }}</td>
                        <td>{{ grant.hupd_allocated | usd }}</td>
                    </tr>
                    {% endif %}
                    {% if grant.personnel_allocated %}
                    <tr>
                        <td>Personnel</td>
                        <td>{{ grant.personnel_allocated_notes | suppress_none }}</td>
                        <td>{{ grant.personnel_allocated | usd }}</td>
                    </tr>
                    {% endif %}
                    {% if grant.other_allocated %}
                    <tr>
                        <td>Other</td>
                        <td>{{ grant.other_allocated_notes | suppress_none }}</td>
                        <td>{{ grant.other_allocated | usd }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="center">
                {%- if current_user.is_authenticated and grant.interviewer_notes %}
                    <p><b>Interview Comments:</b>&nbsp;{{ grant.interviewer_notes }}</p>
                {% endif %}
                <h2 class="margin40">Total Grant Amount: {{ grant.amount_allocated | usd }}</h2>
                {% if grant.percentage_cut %}
                    <p style="margin-top:25px;">Sometimes, our budget requires that we make across the board cuts to all grants. If that is the case, then the total grant amount
                    may be less than the summation of the maximum amount that we will fund in each funding category. The percentage cut for the
                    week of your grant was {{ grant.percentage_cut }}%. The above amount represents the total amount of funding your grant is eligible to receive,
                    contingent upon providing receipts that correspond with at least the above amounts in each funding category.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
