{% extends "layout.html" %}

{% block title %}
    Grants Packs
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <h1>Grants Packs</h1>
                <h3>Details on each grants pack can be found below.</h3>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Grants Pack</th>
                        <th>Budget</th>
                        <th>Allocated</th>
                        <th>Council Approved</th>
                        <th>Edit</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody class="middle">
                    {% for grants_pack in grants_packs %}
                        <tr>
                            <td class="text-nowrap">{{ grants_pack.grant_week }}</td>
                            <td>
                                {% if grants_pack.allocated == None and not grants_pack.finalized %}
                                    <a href="{{ url_for('grants_pack_budget', grants_pack=grants_pack.grant_week) }}">{{ grants_pack.budget | usd }}</a>
                                {% else %}
                                    {{ grants_pack.budget | usd }}
                                {% endif %}
                            </td>
                            <td>{{ grants_pack.allocated | usd }}</td>
                            <td>
                                {% if grants_pack.grants_pack_finalized %}
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                {% else %}
                                    <a href="{{ url_for('grants_pack_council_approve', grants_pack=grants_pack.grant_week) }}" class="btn btn-default {{ 'disabled' if grants_pack.allocated == None }}">Approve</a>
                                {% endif %}
                            </td>
                            <td><a href="{{ url_for('grants_pack_edit_pack', grants_pack=grants_pack.grant_week) }}" class="btn btn-default {{ 'disabled' if grants_pack.grants_pack_finalized }}">Edit</a></td>
                            <td><a href="{{ url_for('grants_pack_view_pack', grants_pack=grants_pack.grant_week) }}" class="btn btn-default {{ 'disabled' if grants_pack.allocated == None }}">View</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
