{% extends "layout.html" %}

{% block head %}
    <script src="{{ url_for('static', filename='dual-listbox/jquery.bootstrap-duallistbox.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dual-listbox/bootstrap-duallistbox.min.css') }}">
{% endblock %}

{% block title %}
    Grants Pack Edit
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <h1>Grants Pack {{ grants_pack }}</h1>
                <h3>Move grants below to accept them into the grants pack.</h3>
                <p id="status" class="status-indicator"></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 margin40 listboxes">
            <select multiple="multiple" size="10" name="grants_list" class="grants_dual_listbox">
                {% for grant in orphan_grants %}
                    <option id="{{ grant.grant_id }}" value="{{ grant.grant_id }}" data-project="{{ grant.project }}" data-organization="{{ grant.organization }}" data-interviewer="{{ grant.small_grant_reviewer if grant.is_small_grant else grant.interviewer }}" data-notes="{{ grant.interviewer_notes | suppress_none }}" data-funding="[{%- if grant.food_allocated -%}
                            {&quot;category&quot;:&quot;Food&quot;,&quot;amount&quot;:{{ grant.food_allocated }},&quot;description&quot;:&quot;{{ grant.food_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.travel_allocated -%}
                            {&quot;category&quot;:&quot;Travel&quot;,&quot;amount&quot;:{{ grant.travel_allocated }},&quot;description&quot;:&quot;{{ grant.travel_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.publicity_allocated -%}
                            {&quot;category&quot;:&quot;Publicity&quot;,&quot;amount&quot;:{{ grant.publicity_allocated }},&quot;description&quot;:&quot;{{ grant.publicity_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.materials_allocated -%}
                            {&quot;category&quot;:&quot;Materials & Supplies&quot;,&quot;amount&quot;:{{ grant.materials_allocated }},&quot;description&quot;:&quot;{{ grant.materials_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.venue_allocated -%}
                            {&quot;category&quot;:&quot;Venue&quot;,&quot;amount&quot;:{{ grant.venue_allocated }},&quot;description&quot;:&quot;{{ grant.venue_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.decorations_allocated -%}
                            {&quot;category&quot;:&quot;Decorations&quot;,&quot;amount&quot;:{{ grant.decorations_allocated }},&quot;description&quot;:&quot;{{ grant.decorations_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.media_allocated -%}
                            {&quot;category&quot;:&quot;AV/Media&quot;,&quot;amount&quot;:{{ grant.media_allocated }},&quot;description&quot;:&quot;{{ grant.media_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.admissions_allocated -%}
                            {&quot;category&quot;:&quot;Admissions&quot;,&quot;amount&quot;:{{ grant.admissions_allocated }},&quot;description&quot;:&quot;{{ grant.admissions_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.hupd_allocated -%}
                            {&quot;category&quot;:&quot;HUPD/BAT/DJ&quot;,&quot;amount&quot;:{{ grant.hupd_allocated }},&quot;description&quot;:&quot;{{ grant.hupd_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.personnel_allocated -%}
                            {&quot;category&quot;:&quot;Personnel&quot;,&quot;amount&quot;:{{ grant.personnel_allocated }},&quot;description&quot;:&quot;{{ grant.personnel_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.other_allocated -%}
                            {&quot;category&quot;:&quot;Other&quot;,&quot;amount&quot;:{{ grant.other_allocated }},&quot;description&quot;:&quot;{{ grant.other_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}]">{{ grant.organization }}&nbsp;"{{ grant.project }}"</option>
                {% endfor %}
                {% for grant in child_grants %}
                    <option selected="selected" id="{{ grant.grant_id }}" value="{{ grant.grant_id }}" data-project="{{ grant.project }}" data-organization="{{ grant.organization }}" data-interviewer="{{ grant.small_grant_reviewer if grant.is_small_grant else grant.interviewer }}" data-notes="{{ grant.interviewer_notes | suppress_none }}" data-funding="[{%- if grant.food_allocated -%}
                            {&quot;category&quot;:&quot;Food&quot;,&quot;amount&quot;:{{ grant.food_allocated }},&quot;description&quot;:&quot;{{ grant.food_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.travel_allocated -%}
                            {&quot;category&quot;:&quot;Travel&quot;,&quot;amount&quot;:{{ grant.travel_allocated }},&quot;description&quot;:&quot;{{ grant.travel_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.publicity_allocated -%}
                            {&quot;category&quot;:&quot;Publicity&quot;,&quot;amount&quot;:{{ grant.publicity_allocated }},&quot;description&quot;:&quot;{{ grant.publicity_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.materials_allocated -%}
                            {&quot;category&quot;:&quot;Materials & Supplies&quot;,&quot;amount&quot;:{{ grant.materials_allocated }},&quot;description&quot;:&quot;{{ grant.materials_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.venue_allocated -%}
                            {&quot;category&quot;:&quot;Venue&quot;,&quot;amount&quot;:{{ grant.venue_allocated }},&quot;description&quot;:&quot;{{ grant.venue_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.decorations_allocated -%}
                            {&quot;category&quot;:&quot;Decorations&quot;,&quot;amount&quot;:{{ grant.decorations_allocated }},&quot;description&quot;:&quot;{{ grant.decorations_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.media_allocated -%}
                            {&quot;category&quot;:&quot;AV/Media&quot;,&quot;amount&quot;:{{ grant.media_allocated }},&quot;description&quot;:&quot;{{ grant.media_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.admissions_allocated -%}
                            {&quot;category&quot;:&quot;Admissions&quot;,&quot;amount&quot;:{{ grant.admissions_allocated }},&quot;description&quot;:&quot;{{ grant.admissions_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.hupd_allocated -%}
                            {&quot;category&quot;:&quot;HUPD/BAT/DJ&quot;,&quot;amount&quot;:{{ grant.hupd_allocated }},&quot;description&quot;:&quot;{{ grant.hupd_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.personnel_allocated -%}
                            {&quot;category&quot;:&quot;Personnel&quot;,&quot;amount&quot;:{{ grant.personnel_allocated }},&quot;description&quot;:&quot;{{ grant.personnel_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}
                        {%- if grant.other_allocated -%}
                            {&quot;category&quot;:&quot;Other&quot;,&quot;amount&quot;:{{ grant.other_allocated }},&quot;description&quot;:&quot;{{ grant.other_allocated_notes | suppress_none }}&quot;},
                        {%- endif -%}]">{{ grant.organization }}&nbsp;"{{ grant.project }}"</option>
                {% endfor %}
              </select>
        </div>
        <a id="submit" href="{{ url_for('grants_pack_cuts_pack', grants_pack=grants_pack) }}" class="btn btn-default float-right" style="margin: 10px 15px">Submit</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="center grant_info">
                <h3 id="grant_project" style="margin-top:0px;"></h3>
                <h4 id="grant_subtitle"></h4>
                <h5 id="grant_interviewer"></h5>
                <div id="grant_funding"></div>
                <div id="grant_notes"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        /* Enable Dual Select-Multiple Boxes */
        $('.grants_dual_listbox').bootstrapDualListbox({
          nonSelectedListLabel: 'Adjudicated Grants',
          selectedListLabel: 'Grants Pack {{ grants_pack }}',
          preserveSelectionOnMove: 'moved',
          moveOnSelect: false,
          nonSelectedFilter: ''
        });

        function updateDollarDisplay() {
            var allocated = 0;
            $("#bootstrap-duallistbox-selected-list_grants_list option").each(function(index,option) {
               // parse funding data
                var items = $(option).data('funding');
                // remove final comma (fencepost problem)
                if (items.length > 1) {
                    items = items.substr(0, items.length - 2) + "]";
                    items = items.replace(/\r?\n|\r|\t/g, ""); // remove troublesome newlines and tabs
                    items = jQuery.parseJSON(items);
                }
                for (var i=0; i< items.length; i++) {
                    allocated += parseFloat(items[i].amount);
                }
            });
            $("#dollars-allocated").text("$" + allocated.toFixed(2));
        }

        /* Define the event handler function for listboxes that will update the selected
            grant information view at the bottom of the page */
        function infoDisplayHandler() {

            // ensure that mutliple grants aren't selected
            if ($(this).is('select')) {
                if ($(this).children('option').filter(':selected').length != 1) {
                    return;
                }
            }

            // Cleverly get relevant attributes from selected option
            var option = $('#' + $(this).val());
            var id = $(this).val()
            var project = option.data('project');
            var organization = option.data('organization');
            var interviewer = option.data('interviewer');
            var notes = option.data('notes');

            // parse funding data
            var items = option.data('funding');
            // remove final comma (fencepost problem)
            if (items.length > 1) {
                items = items.substr(0, items.length - 2) + "]";
                items = jQuery.parseJSON(items);
            }
            var funding = '<table class="table table-striped table-responsive table-hover"><thead><tr><th>Category</th><th>Amount</th><th>Description</th></tr></thead><tbody class="text-left">';
            for (var i=0; i< items.length; i++) {
                funding += '<tr>';
                funding += '<td>' + items[i].category + '</td>';
                funding += '<td>$' + items[i].amount.toFixed(2) + '</td>';
                funding += '<td>' + items[i].description + '</td>';
                funding += '</tr>';
            }
            funding += '</tbody></table>'

            //  Update description view
            $('#grant_project').text(project);
            $('#grant_subtitle').text(organization + ", " + id);
            $('#grant_notes').text(notes);
            $('#grant_interviewer').html(interviewer + ' <a href="/interview/' + id + '?review={{ grants_pack }}">Edit</a>');
            $('#grant_funding').html(funding);

        }

        /* Define the event handler for the listboxes that will
            asynchronously send updates to the remote database on
            changes in listbox selections and update the dollar
            amount allocated shown to the user */
        function updateDBHandler() {

            // Create an list of objects indicating whether each grant is in the pack
            var notSelected = $("#bootstrap-duallistbox-nonselected-list_grants_list option");
            var selected = $("#bootstrap-duallistbox-selected-list_grants_list option");
            var values = $.map(notSelected, function(option) {
                return { grant_id : option.value,
                            selected : false };
            });

            values = values.concat($.map(selected, function(option) {
                return { grant_id : option.value,
                            selected : true };
            }));

            // Convert values to JSON
            var json = '{"grants_pack":"{{ grants_pack }}","grants":' + JSON.stringify(values).replace('\"','\\\"') + '}';

            // Set the status message to saving and temporarily disable submit button
            $("#status").text('Saving changes...');
            $('#submit').addClass('disabled');

            // POST that data to the server
            $.ajax({
                url: "{{ url_for('grants_pack_edit') }}",
                type: "POST",
                data: json,
                contentType: "application/json; charset=utf-8",
                success: function() {
                    $("#status").text('All edits saved.');
                    $('#submit').removeClass('disabled');
                },
                error: function() {
                    $("#status").text('Error saving changes.');
                }
            });

            // Update the currently allocated dollar display
            updateDollarDisplay();
        }

        // Add a span to display the currently allocated amount
        $('.box2 span.info-container').append('<span id="dollars-allocated" class="float-right bold"></span>');
        updateDollarDisplay();

        /* Add handler for displaying grant info on-change
            on-click handler must also be added for jumping
            between the dual boxes */
        $('.listboxes select').change(infoDisplayHandler);
        $('.listboxes option').click(infoDisplayHandler);
        $('.listboxes button').click(updateDBHandler);



    </script>
{% endblock %}
