{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <h1>Welcome to nova.</h1>
                <h5>UC Financial Transparency</h5>
                <img src="{{ url_for('static', filename='images/uc_logo.jpg') }}" style="padding-top:2em;">
            </div>
        </div>
    </div>

    <div class="navbar navbar-fixed-bottom center" style="color:#b1b1b1;"><i>Brought to you by Nicholas Boucher '19</i></div>

{% endblock %}
