{% extends "layout.html" %}
{% set fullwidth=True %}

{% block title %}
    {{ grant.grant_id }} Interview
{% endblock %}

{% block main %}

    <div class="wrapper">
        <div class="row">
            <div class="top">
                <div class="center">
                    <h1>"{{ grant.project }}" Interview</h1>
                    <h3>{{ grant.organization }}, Grant: {{ grant.grant_id }}</h3>
                </div>
            </div>
        </div>
        <div class="row container2">
            <div class="left border-right">
                <div class="center" style="margin-top: -20px;">
                    <hr />
                    <h3>Interview Form</h3>
                    <hr />
                </div>
                <form action="{{ url_for('grant_interview', grant_id=grant.grant_id) }}{{ '?review=' + review if review }}" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="food_allocated">Food Funding:</label>
                                <input type="number" min="0" step="any" class="form-control" name="food_allocated" value="{{ grant.food_allocated | two_decimals }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="food_allocated_notes">Food Comment:</label>
                                <textarea class="form-control resize-vertical" rows="1" name="food_allocated_notes">{{ grant.food_allocated_notes | suppress_none }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="travel_allocated">Travel Funding:</label>
                                <input type="number" min="0" step="any" class="form-control" name="travel_allocated" value="{{ grant.travel_allocated | two_decimals }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="travel_allocated_notes">Travel Comment:</label>
                                <textarea class="form-control resize-vertical" rows="1" name="travel_allocated_notes">{{ grant.travel_allocated_notes | suppress_none }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="publicity_allocated">Publicity Funding:</label>
                                <input type="number" min="0" step="any" class="form-control" name="publicity_allocated" value="{{ grant.publicity_allocated | two_decimals }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="publicity_allocated_notes">Publicity Comment:</label>
                                <textarea class="form-control resize-vertical" rows="1" name="publicity_allocated_notes">{{ grant.publicity_allocated_notes | suppress_none }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="materials_allocated">Materials & Supplies Funding:</label>
                                <input type="number" min="0" step="any" class="form-control" name="materials_allocated" value="{{ grant.materials_allocated | two_decimals }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="materials_allocated_notes">Materials & Supplies Comment:</label>
                                <textarea class="form-control resize-vertical" rows="1" name="materials_allocated_notes">{{ grant.materials_allocated_notes | suppress_none }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="venue_allocated">Venue Funding:</label>
                                <input type="number" min="0" step="any" class="form-control" name="venue_allocated" value="{{ grant.venue_allocated | two_decimals }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="venue_allocated_notes">Venue Comment:</label>
                                <textarea class="form-control resize-vertical" rows="1" name="venue_allocated_notes">{{ grant.venue_allocated_notes | suppress_none }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="decorations_allocated">Decorations Funding:</label>
                                <input type="number" min="0" step="any" class="form-control" name="decorations_allocated" value="{{ grant.decorations_allocated | two_decimals }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="decorations_allocated_notes">Decorations Comment:</label>
                                <textarea class="form-control resize-vertical" rows="1" name="decorations_allocated_notes">{{ grant.decorations_allocated_notes | suppress_none }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="media_allocated">AV/Media Funding:</label>
                                <input type="number" min="0" step="any" class="form-control" name="media_allocated" value="{{ grant.media_allocated | two_decimals }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="media_allocated_notes">AV/Media Comment:</label>
                                <textarea class="form-control resize-vertical" rows="1" name="media_allocated_notes">{{ grant.media_allocated_notes | suppress_none }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="admissions_allocated">Admissions Funding:</label>
                                <input type="number" min="0" step="any" class="form-control" name="admissions_allocated" value="{{ grant.admissions_allocated | two_decimals }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="admissions_allocated_notes">Admissions Comment:</label>
                                <textarea class="form-control resize-vertical" rows="1" name="admissions_allocated_notes">{{ grant.admissions_allocated_notes | suppress_none }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="hupd_allocated">HUPD/BAT/DJ Funding:</label>
                                <input type="number" min="0" step="any" class="form-control" name="hupd_allocated" value="{{ grant.hupd_allocated | two_decimals }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="hupd_allocated_notes">HUPD/BAT/DJ Comment:</label>
                                <textarea class="form-control resize-vertical" rows="1" name="hupd_allocated_notes">{{ grant.hupd_allocated_notes | suppress_none }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="personnel_allocated">Personnel Funding:</label>
                                <input type="number" min="0" step="any" class="form-control" name="personnel_allocated" value="{{ grant.personnel_allocated | two_decimals }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="personnel_allocated_notes">Personnel Comment:</label>
                                <textarea class="form-control resize-vertical" rows="1" name="personnel_allocated_notes">{{ grant.personnel_allocated_notes | suppress_none }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="other_allocated">Other Funding:</label>
                                <input type="number" min="0" step="any" class="form-control" name="other_allocated" value="{{ grant.other_allocated | two_decimals }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="other_allocated_notes">Other Comment:</label>
                                <textarea class="form-control resize-vertical" rows="1" name="other_allocated_notes"><{{ grant.other_allocated_notes | suppress_none }}/textarea>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="interviewer_notes">Interviewer Notes:</label>
                                <textarea class="form-control resize-vertical" rows="1" name="interviewer_notes">{{ grant.interviewer_notes | suppress_none }}</textarea>
                            </div>
                        </div>
                    </div>
                    {% if grant.is_collaboration %}
                        <div class="alert alert-danger" role="alert">
                            <input type="checkbox" name="is_collaboration_confirmed" value="confirmed" {{ 'checked="checked"' if grant.is_collaboration_confirmed }}>&nbsp;&nbsp;<b>Confirm Collaboration</b>
                            <p>This box must be checked to make this grant immune from funding cuts. A representative from each collaborating club should be present.</p>
                        </div>
                    {% endif %}
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="right">
                <div class="center" style="margin-top: -20px;">
                    <hr />
                    <h3>Application</h3>
                    <hr />
                </div>
                <table class="table table-striped table-responsive table-hover">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Organization</td>
                        <td>{{ grant.organization }}</td>
                    </tr>
                    <tr>
                        <td>Project</td>
                        <td>{{ grant.project }}</td>
                    </tr>
                    <tr>
                        <td>Project Decription</td>
                        <td>{{ grant.project_description }}</td>
                    </tr>
                    <tr>
                        <td>Contact</td>
                        <td>{{ grant.contact_first_name }} {{ grant.contact_last_name }}</td>
                    </tr>
                    <tr>
                        <td>Contact Role</td>
                        <td>{{ grant.contact_role }}</td>
                    </tr>
                    <tr>
                        <td>Submission Date</td>
                        <td>{{ grant.application_submit_time | datetime }}</td>
                    </tr>
                    <tr>
                        <td>Funding Requested</td>
                        <td>{{ grant.amount_requested | usd }}</td>
                    </tr>
                    <tr>
                        <td>Grant Type</td>
                        <td>{{ "Upfront" if grant.is_upfont else "Retroactive" }}</td>
                    </tr>
                    <tr>
                        <td>Collaboration</td>
                        <td>{{ "Yes" if grant.is_collaboration else "No" }}</td>
                    </tr>
                    {% if grant.is_collaboration %}
                    <tr>
                        <td>Collaborators</td>
                        <td>{{ grant.collaborators }}</td>
                    </tr>
                    <tr>
                        <td>Collaboration Description</td>
                        <td>{{ grant.collaboration_explanation }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Project Type</td>
                        <td>{{ "Event" if grant.is_event else "Non-event" }}</td>
                    </tr>
                    {% if grant.is_event %}
                    <tr>
                        <td>Location</td>
                        <td>{{ grant.project_location }}</td>
                    </tr>
                    <tr>
                        <td>Facebook Event Link</td>
                        <td>{{ grant.facebook_link }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Project Dates</td>
                        <td>{{ grant.project_start | date }} - {{ grant.project_end | date }}</td>
                    </tr>
                    <tr>
                        <td>Number of Harvard College Students Attending</td>
                        <td>{{ grant.college_attendees }}</td>
                    </tr>
                    <tr>
                        <td>Club Revenue</td>
                        <td>
                            {% if grant.revenue1_amount %}
                                {{ grant.revenue1_type }}: {{ grant.revenue1_description }}
                                {{ "<br><br>" | safe + grant.revenue2_type | suppress_none + ": " + grant.revenue2_description | suppress_none + " (" + grant.revenue2_amount | usd + ")" if grant.revenue2_amount }}
                                {{ "<br><br>" | safe + grant.revenue3_type | suppress_none + ": " + grant.revenue3_description | suppress_none + " (" + grant.revenue3_amount | usd + ")" if grant.revenue3_amount }}
                                {{ "<br><br>" | safe + grant.revenue4_type | suppress_none + ": " + grant.revenue4_description | suppress_none + " (" + grant.revenue4_amount | usd + ")" if grant.revenue4_amount }}
                                {{ "<br><br>" | safe + grant.revenue5_type | suppress_none + ": " + grant.revenue5_description | suppress_none + " (" + grant.revenue5_amount | usd + ")" if grant.revenue5_amount }}
                                {{ "<br><br>" | safe + grant.revenue6_type | suppress_none + ": " + grant.revenue6_description | suppress_none + " (" + grant.revenue6_amount | usd + ")" if grant.revenue6_amount }}
                                {{ "<br><br>" | safe + grant.revenue7_type | suppress_none + ": " + grant.revenue7_description | suppress_none + " (" + grant.revenue7_amount | usd + ")" if grant.revenue7_amount }}
                                {{ "<br><br>" | safe + grant.revenue8_type | suppress_none + ": " + grant.revenue8_description | suppress_none + " (" + grant.revenue8_amount | usd + ")" if grant.revenue8_amount }}
                                {{ "<br><br>" | safe + grant.revenue9_type | suppress_none + ": " + grant.revenue9_description | suppress_none + " (" + grant.revenue9_amount | usd + ")" if grant.revenue9_amount }}
                                {{ "<br><br>" | safe + grant.revenue10_type | suppress_none + ": " + grant.revenue10_description | suppress_none + " (" + grant.revenue10_amount | usd + ")" if grant.revenue10_amount }}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                    {% if grant.application_comments %}
                    <tr>
                        <td>Comments</td>
                        <td>{{ grant.application_comments }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            <div class="center">
                <hr />
                <h3>Expenses</h3>
                <hr />
            </div>
            <table class="table table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th><b>Type</b></th>
                        <th><b>Amount</b></th>
                        <th><b>Description</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% if grant.app_expense1_amount %}
                        <tr>
                            <td>{{ grant.app_expense1_type }}</td>
                            <td>{{ grant.app_expense1_amount | usd }}</td>
                            <td>{{ grant.app_expense1_description }}</td>
                        </tr>
                    {% endif %}
                    {% if grant.app_expense2_amount %}
                        <tr>
                            <td>{{ grant.app_expense2_type }}</td>
                            <td>{{ grant.app_expense2_amount | usd }}</td>
                            <td>{{ grant.app_expense2_description }}</td>
                        </tr>
                    {% endif %}
                    {% if grant.app_expense3_amount %}
                        <tr>
                            <td>{{ grant.app_expense3_type }}</td>
                            <td>{{ grant.app_expense3_amount | usd }}</td>
                            <td>{{ grant.app_expense3_description }}</td>
                        </tr>
                    {% endif %}
                    {% if grant.app_expense4_amount %}
                        <tr>
                            <td>{{ grant.app_expense4_type }}</td>
                            <td>{{ grant.app_expense4_amount | usd }}</td>
                            <td>{{ grant.app_expense4_description }}</td>
                        </tr>
                    {% endif %}
                    {% if grant.app_expense5_amount %}
                        <tr>
                            <td>{{ grant.app_expense5_type }}</td>
                            <td>{{ grant.app_expense5_amount | usd }}</td>
                            <td>{{ grant.app_expense5_description }}</td>
                        </tr>
                    {% endif %}
                    {% if grant.app_expense6_amount %}
                        <tr>
                            <td>{{ grant.app_expense6_type }}</td>
                            <td>{{ grant.app_expense6_amount | usd }}</td>
                            <td>{{ grant.app_expense6_description }}</td>
                        </tr>
                    {% endif %}
                    {% if grant.app_expense7_amount %}
                        <tr>
                            <td>{{ grant.app_expense7_type }}</td>
                            <td>{{ grant.app_expense7_amount | usd }}</td>
                            <td>{{ grant.app_expense7_description }}</td>
                        </tr>
                    {% endif %}
                    {% if grant.app_expense8_amount %}
                        <tr>
                            <td>{{ grant.app_expense8_type }}</td>
                            <td>{{ grant.app_expense8_amount | usd }}</td>
                            <td>{{ grant.app_expense8_description }}</td>
                        </tr>
                    {% endif %}
                    {% if grant.app_expense9_amount %}
                        <tr>
                            <td>{{ grant.app_expense9_type }}</td>
                            <td>{{ grant.app_expense9_amount | usd }}</td>
                            <td>{{ grant.app_expense9_description }}</td>
                        </tr>
                    {% endif %}
                    {% if grant.app_expense10_amount %}
                        <tr>
                            <td>{{ grant.app_expense10_type }}</td>
                            <td>{{ grant.app_expense10_amount | usd }}</td>
                            <td>{{ grant.app_expense10_description }}</td>
                        </tr>
                    {% endif %}
                    {% if grant.app_expense11_amount %}
                        <tr>
                            <td>{{ grant.app_expense11_type }}</td>
                            <td>{{ grant.app_expense11_amount | usd }}</td>
                            <td>{{ grant.app_expense11_description }}</td>
                        </tr>
                    {% endif %}
                    {% if grant.app_expense12_amount %}
                        <tr>
                            <td>{{ grant.app_expense12_type }}</td>
                            <td>{{ grant.app_expense12_amount | usd }}</td>
                            <td>{{ grant.app_expense12_description }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </div>
        </div>
    </div>

{% endblock %}
