{% extends "layout.html" %}

{% block title %}
    Owed Money
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-md-12">
            <div class="center">
                <h1>Owed Money</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th><b>Grant ID</b></th>
                        <th><b>Organization</b></th>
                        <th><b>Project</b></th>
                        <th><b>Reimbursement Amount</b></th>
                        <th><b>Reason</b></th>
                        <th><b>Process Reimbursement</b></th>
                        <th><b>Status Page</b></th>
                        <th><b>Raw Grant</b></th>
                    </tr>
                </thead>
                <tbody>
                    {% for grant in no_receipts %}
                        <tr data-href="{{ url_for('grant', grant_id=grant.grant_id) }}">
                            <td class="text-nowrap">{{ grant.grant_id }}</td>
                            <td><b>{{ grant.organization }}</b></td>
                            <td><b>{{ grant.project }}</b></td>
                            <td>{{ grant.amount_dispensed | usd }}</td>
                            <td>No Receipts</td>
                            <td><a href="{{ url_for('process_owed_money', grant_id=grant.grant_id) }}" class="btn btn-default">Process</a></td>
                            <td><a href="{{ url_for('grant', grant_id=grant.grant_id) }}" class="btn btn-default">Status</a></td>
                            <td><a href="{{ url_for('raw_grant_edit', grant_id=grant.grant_id) }}" class="btn btn-default">Raw</a></td>
                        </tr>
                    {% endfor %}
                    {% for grant in unspent_money %}
                        <tr data-href="{{ url_for('grant', grant_id=grant.grant_id) }}">
                            <td class="text-nowrap">{{ grant.grant_id }}</td>
                            <td><b>{{ grant.organization }}</b></td>
                            <td><b>{{ grant.project }}</b></td>
                            <td>{{ grant.reimburse_uc_amount | usd }}</td>
                            <td>Unspent Money</td>
                            <td><a href="{{ url_for('process_owed_money', grant_id=grant.grant_id) }}" class="btn btn-default">Process</a></td>
                            <td><a href="{{ url_for('grant', grant_id=grant.grant_id) }}" class="btn btn-default">Status</a></td>
                            <td><a href="{{ url_for('raw_grant_edit', grant_id=grant.grant_id) }}" class="btn btn-default">Raw</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <b>Total: {{ total | usd }}</b><br /><br />
        </div>
    </div>

{% endblock %}
